extends ../layout/common.pug
block content
  .container.mt-2
    .d-flex.justify-content-between
      h2.mb-4 Danh sách user
      if isAdmin
        a.h-25(href='/users/create', class="btn btn-primary btn-md", role="button", aria-pressed="true") Thêm mới
    .table-responsive
      table.table.table-hover
        thead.thead-light
          tr
            th Avatar
            th Tên
            th(colspan="3") Action
        tbody   
        each user in users
          tr
            td
              img(width=32,src=user.avatar ? user.avatar : 'https://i.ya-webdesign.com/images/default-avatar-png-6.png')
            td=user.name
            if isAdmin
              td
                a.btn.btn-light(href="/users/" + user.id) Chi tiết
              td
                a.btn.btn-light(href="/users/" + user.id + "/edit") Sửa
              td
                a.btn.btn-light(href="/users/" + user.id + "/delete") Xóa
            if !isAdmin
              td
                a.btn.btn-light(href="/users/" + user.id) Chi tiết
    
      if pagination
        nav(aria-label='Page navigation example')
            ul.pagination.justify-content-end
                li.page-item(class=`${pagination.page === 0 ? 'disabled': ''}`)
                    a.page-link(href=`/users?page=${pagination.page - 1}&limit=${pagination.limit}${search ? '&name=' + search : ''}`, aria-label='Previous')
                        span(aria-hidden='true') &laquo;
                each val, index in pagination.links
                    if (val === false) 
                        li.page-item
                            a.page-link(href=`/users?page=${ index === 1 ? pagination.links[2] - 1 : pagination.links[pagination.links.length - 3] + 1 }&limit=${pagination.limit}${search ? '&name=' + search : ''}`) ∙∙∙                    
                    else
                        li.page-item(class=`${val === pagination.page ? 'active': ''}`)
                            a.page-link(href=`/users?page=${val}&limit=${pagination.limit}${search ? '&name=' + search : ''}`)=val                    
                li.page-item(class=`${pagination.page + 1 === pagination.numPages ? 'disabled': ''}`)
                    a.page-link(href=`/users?page=${pagination.page + 1}&limit=${pagination.limit}${search ? '&name=' + search : ''}`, aria-label='Next')
                        span(aria-hidden='true') &raquo;
    a(href="/") Home